<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk Delete Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div class="container mt-5">
        <h2>Employees List</h2>
        <form method="post" action="">
            {% csrf_token %}

            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all" class="mr-2"> Select All/Deselect All</th>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td><input type="checkbox" name="selected_ids" value="{{ employee.id }}" class="row-checkbox">
                        </td>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.FirstName }}</td>
                        <td>{{ employee.LastName }}</td>
                        <td>{{ employee.TitleName }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-danger" id="bulk-delete">Bulk Delete Submit</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {

            $('#select-all').on('change', function () {
                $('.row-checkbox').prop('checked', this.checked);
            })

            $('#bulk-delete').on('click', function () {
                var selectedCount = $('input[name="selected_ids"]:checked').length;

                if (selectedCount > 0) {
                    var confirmDelete = confirm("Are you sure you want to delete selected rows?");
                    if (confirmDelete) {
                        $('form').submit();
                    }
                }
                else {
                    alert("Please select at least one row to delete.");
                }

            })
        })

    </script>

</body>

</html>
