<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cascading Dropdown list Demo</title>
    <link rel = "stylesheet" href  = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">    
</head>
<body>
    <div class="container">
        <h1>Cascading Dropdown Lists Demo</h1>

        <form method="POST" id="employeeForm">
            {% csrf_token %}
            {{ employee_form.as_p }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div> 

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>            
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#id_state').empty();
            $('#id_city').empty();

            $('#id_country').change(function () {

                var countryId = $(this).val();

                $.ajax({
                    url: "{% url 'load_states' %}",
                    data: {'country_id': countryId},
                    dataType: 'json',
                    success: function (data) {
                        var stateSelect = $('#id_state');
                        stateSelect.empty();
                        data.forEach((value) => {
                            stateSelect.append(`<option value="${value.id}">${value.name}</option>`);
                        });
                        stateSelect.change();
                    }
                });

            });

            $('#id_state').change(function () {

                    var stateId = $(this).val();
                    
                    $.ajax({
                        url: "{% url 'load_cities' %}",
                        data: {'state_id': stateId},
                        dataType: 'json',
                        success: function (data) {
                            var citySelect = $('#id_city');
                            citySelect.empty();
                            data.forEach((value) => {
                                citySelect.append(`<option value="${value.id}">${value.name}</option>`);
                            });
                        }
                    });
                });
        })
    </script>

</body>
</html>
